html {
	background-color: $bg;
}
.full-width {
	width: 100%;
	max-width: 100%;
	clear: both;
	margin: 0 auto;
}

.logo {
 	text-align: center;
}

//Not needed. Handled by retina.js
//.logo-mobile img {
// width: 30px;
// height: auto;
//}
//
//.logo-desktop img {
// width: 80px;
// height: auto;
//}

.logo-mobile h1,
.logo-tablet h1,
.logo-desktop h1 {
	 font-family: $font-logo-family; 
	 text-transform: uppercase;
	 margin-bottom: .1rem;
}
.logo-mobile h1 {
 	font-size: 27.53px;
}
.logo-tablet h1 {
 	font-size: 45.65px;
}
.logo-desktop h1 {
 	font-size: 73.32px;
}

.logo-mobile h4 {
 	font-size: 1em;
}
.logo-tablet h4 {
 	font-size: 21.56px;
 	margin-top: -0.5rem;
}
.logo-desktop h4 {
 	font-size: 2.488em;
 	margin-top: -1rem;
}

.headline img {
 	float: left;
 	vertical-align: middle;
 	margin: 5px 5px 0 0;
}

/* nav */
nav {
	 @extend %clearfix;
	 width: 95%;
	 height: 50px;
	background-color: white;
}
nav .nav-logo {
	float: left;
	margin: 14px 0 0 5% ;
}
nav .nav-open, {
	font-family: $font-header-family;
	height:50px;
	width: 100%;
	text-align: right;
}

.overlay {
	font-family: $font-header-family;
	text-align: right;
}

nav .nav-open:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

nav .nav-open div {
	display: inline-block;
    vertical-align: middle;
	margin-right: 5%;
}

.closebtn {
	width: 100px;
	position: relative;
	margin-right: 5%;
	float: right;
}

nav div p {
	font-size: 1.6em;
	float: right;
	margin: 10px 0 0 10px;
	transition: 0.3s;
}

nav .nav-open img {
	float: right;
	margin-top: 16px;
}

.overlay .closebtn p {
	font-size: 1.6em;
	margin: 10px 0 0 10px;
	position: absolute;
	left: 25px;
	transition: 0.3s;
	color: $bg;
}

.overlay .closebtn img {
	position: absolute;
	left: 0;
	margin-top: 16px;
}

nav div p:hover,
.overlay .closebtn p:hover,
nav .nav-open img,
.overlay .closebtn img {
	cursor: pointer;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
#overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
//    margin-top: ; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
//    font-size: 36px;
    color: $bg;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
nav div p:hover {
	color: $prmgrn;
}
.overlay a:hover, 
.overlay a:focus,
.closebtn p:hover {
    color: $ltgrn;
}

/* Position the close button (top right corner) */
//.overlay .closebtn {
//    position: absolute;
//    top: 20px;
//    right: 45px;
//}
