html {
	background-color: $bg;
}

.full-width {
  width: 100%;
	max-width: 1200px;
	clear: both;
	margin: 0 auto;
}

.column:first-of-type {
	margin-left: 0 !important;
}

.logo {
 	text-align: center;
}

.logo-mobile h1,
.logo-tablet h1,
.logo-desktop h1 {
	 font-family: $font-logo-family; 
	 text-transform: uppercase;
	 margin-bottom: .1rem;
}
.logo-mobile h1 {
 	font-size: 27.53px;
}
.logo-tablet h1 {
 	font-size: 45.65px;
}
.logo-desktop h1 {
 	font-size: 73.32px;
}

.logo-mobile h4 {
 	font-size: 1em;
}
.logo-tablet h4 {
 	font-size: 21.56px;
 	margin-top: -0.5rem;
}
.logo-desktop h4 {
 	font-size: 2.488em;
 	margin-top: -1rem;
}

.headline > img {
 	float: left;
 	vertical-align: middle;
 	margin: 5px 5px 0 0;
}

/* nav */
#nav {
	width: 100%;
	background-color: white;
}
nav {
  @extend %clearfix;
  background-color: white;
  width: 100%;
  .nav-logo {
	  margin-left: 3%;
  }
	.nav {
	  width: 77%;
	  float: right;
		max-width: 400px;
      ul {
	    list-style: none;
        li {
	        display: inline-block;
		      width: 33%;
		      text-align: center;
	      }
				li:nth-child(2) a {
		      padding-left: 10px;
	      }
		    a img {
		      vertical-align: sub;
		    }
		    a span {
		      margin-left: 5px;
		    }
      }    
	}
}

/* Contact nav */

.contact ul {
	list-style: none;
	font-family: $font-header-family;
	li {
		display: inline-block;
		margin-right: 25px;
		&:nth-child(n+2)a {
		  padding: 5px 10px;
	  }
	}
}



/* case study */
.case-study {
	margin-bottom: 30px;
	width: 100%;
	img {
		width: 100%;
	}
}