html {
	background-color: $bg;
}

.full-width {
  width: 100%;
	max-width: 1200px;
	clear: both;
	margin: 0 auto;
}

.column:first-of-type {
	margin-left: 0 !important;
}

.logo {
 	text-align: center;
}

.logo-mobile h1,
.logo-tablet h1,
.logo-desktop h1 {
	 font-family: $font-logo-family; 
	 text-transform: uppercase;
	 margin-bottom: .1rem;
}
.logo-mobile h1 {
 	font-size: 27.53px;
}
.logo-tablet h1 {
 	font-size: 45.65px;
}
.logo-desktop h1 {
 	font-size: 73.32px;
}

.logo-mobile h4 {
 	font-size: 1em;
}
.logo-tablet h4 {
 	font-size: 21.56px;
 	margin-top: -0.5rem;
}
.logo-desktop h4 {
 	font-size: 2.488em;
 	margin-top: -1rem;
}

.headline > img {
 	float: left;
 	vertical-align: middle;
}

/* nav */
#nav {
	width: 100%;
	background-color: white;
	height: 50px;
}
nav {
  @extend %clearfix;
  background-color: white;
  width: 100%;
  .nav-logo {
	  margin-left: 3%;
  }
	.nav {
	  width: 77%;
	  float: right;
		max-width: 400px;
		font-size: 1.3rem;
		line-height: 1.3rem;
      ul {
	    list-style: none;
        li {
	        display: inline-block;
		      width: 33%;
		      text-align: center;
	      }
				li:nth-child(2) a {
		      padding-left: 10px;
	      }
		    a img {
		      vertical-align: sub;
		    }
		    a span {
		      margin-left: 5px;
		    }
      }    
	  }
}

/* Contact nav */

.contact ul {
	list-style: none;
	font-family: $font-header-family;
	li {
		display: inline-block;
		margin-right: 25px;
		&:nth-child(n+2)a {
		  padding: 5px 10px;
	  }
	}
}



/* case study */
.case-study {
	margin-bottom: 30px;
	width: 100%;
	img {
		width: 100%;
	}
	a {
		text-decoration: none;
	}
}

/* case study template */
.cs-template { 
	section {
		&:first-of-type {
		  margin-top: 25px;
	  }
		h1 {
			text-align: center;
		}
		div {
	    img {
				width: 100%;
			  margin-bottom: 30px;
			}
		}
		>div {
			&:last-of-type img {
				margin-bottom: 0;
			}
		}
  }
}

.cs-nav {
		font-family: $font-header-family;
	  li {
			float: left;
			text-align: center;
			background-color: $brtgrn;
			padding: 10px;
			list-style-type: none;
			margin-right: 12px;
			border-radius: 3px;
			transition: background-color 0.3s ease-in-out;
			&:hover {
				background-color: $dkgrn;
				cursor: pointer;
			}
			a {
				display:inline-block;
        width:100%;
        height:100%;
				text-decoration: none;
				color: $dkrgrn;
				transition: color 0.2s ease-in-out;
			}
			&:hover a {
				color: $brtgrn;
			}
	  }
}

/* ordered list number styles */
#reflection ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#reflection li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

#reflection li::before {
	font-family: $font-header-family;
  content: counter(step-counter);
  margin-right: 5px;
  background-color: $prmgrn;
  color: white;
  padding: 2px 8px;
  border-radius: 3px;
}

/* case study template navigation */
#another-cs {
	text-align: center;
	.prev-nex {
	  width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
  ul {
		width: 45%;
		max-width: 200px;
		list-style: none;
		font-family: $font-header-family;
		&:first-of-type {
			float: left;
			li {
		  	width: 50%;
				display: inline-block;
			  text-align: center;
				&:first-child {
				  height: 100px;
				  vertical-align: middle;
			  }
		  }
		}
		&:last-of-type {
			float: right;
			li {
			  width: 50%;
				display: inline-block;
			  text-align: center;
				&:nth-child(2) {
				  height: 100px;
				  vertical-align: middle;
			  }
				&:nth-child(2) a {
				  padding: 0 4%;
			  }
		  }
		}
		li {
			img {
				opacity: 1;
				transition: opacity 0.3s;
				&:hover {
					opacity: 0.7;
				}
			}
			a {
				text-decoration: underline;
			}
		}
	}
}
