// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
	
}

body {


  font-size: 1.3em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
}

section {
	margin-bottom: 40px;
	&:last-of-type {
	  margin-bottom: 0;
  }
}

h2 {
	color: $dkgrn;
}

video {
	width: 100%;
	height: auto;
	    margin-bottom: 30px;
}
video::-webkit-media-controls-enclosure {
	display: none;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––
a {
  color: $dkgrn;
	transition: 0.3s ease-in-out;
  &:hover {
		cursor: pointer;
    color: $ltgrn;
  }
}

//nav a {
//  color: $dkgrn;
//  &:hover {
//    color: $ltgrn;
//  }
//}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $prmgrn;
}

ul li {
	list-style-type: none;
	line-height: 1.3em;
}

#footer {
	font-family: $font-header-family;
	font-size: 1.2rem;
	p:first-of-type {
	  margin-top: .5rem;
	  margin-bottom: 0;
		span {
			color: $dkgrn;
		}
  }
	p:last-of-type {
	  margin-top: .5rem;
	  margin-bottom: 1rem;
  }
}