// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.

// Larger than mobile
@media (#{$bp-larger-than-mobile}) {
  .headline > img {
 	  margin: 5px 5px 0 0;
  }
	.container {
	  padding-top: 64px;
  }

	/* nav */
  nav {
	 height: 64px;
  }
	  &:before {
      padding-top: 20px;
    }
	.nav-name {
		display:none;
	}
  .logo-mobile {
    margin-top: 30px;
  }
  .logo-tablet,
  .logo-desktop {
	display: none;
  }
  .logo .left {
    margin-right: 6.5px;
  }
	.case-study {
	  margin-bottom: 50px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	#skills-btn a {
	  width: 60px;
	  height: 50px;
	  right: 16px;
  }
	#reflection li {
		margin-left: 40px;
	}

	#reflection li::before {
		width: 30px;
		margin-left: -40px;
		margin-top: 4px;
		padding: 4px 10px;
	}
	.content-list li {
		line-height: 1.8em;
	}
	.content-list > li:before {
    font-size: 1.3em;
  }
	.content-list > li::before {
    padding-top: 1px;
  }
	
	/* anchor links */
	#hero:before {
		content:"";
		display:block;
		height:64px; /* fixed header height*/
		margin:-64px 0 0; /* negative fixed header height */
	}
}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	body {
		font-size: 1.6em;
		line-height: 2.1em;
	}
	h1 {
		line-height: 1.5em;
	}
	.headline > img {
    margin-top: 15px;
	}
	ul li {
	  line-height: 1.6em;
  }
	.container {
	padding-top: 50px;
  }
	
	/* nav */
	nav {
	 height: 50px;
  }
		&:before {
			padding-top: 15px;
		}
	.nav-name {
		display: inline-block;
		font-family: montserrat;
    color: $dkgrn;
    margin-left: 5px;
	}
	
	/* anchor links */
	#hero:before {
		content:"";
		display:block;
		height:50px; /* fixed header height*/
		margin:50x 0 0; /* negative fixed header height */
	}
	
  .logo-mobile {
	display:none;
  }
  .logo-tablet {
    display: block;
	margin-top: 40px;
  }
  .logo .left {
    margin-right: 12px;
  }
	.case-study {
	  margin-bottom: 80px;
	}
	#skills-btn a {
	  width: 100px;
	  height: 68px;
		right: 10px;
  }
	#reflection li {
		margin-left: 50px;
	}

	#reflection li::before {
		width: 32px;
		margin-top: 8px;
		padding: 0 10px;
		margin-left: -50px;
	}
	.content-list > li:before {
    font-size: 1.6em;
  }
	.content-list > li::before {
    padding-top: 0;
  }
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
  .nav {
	  margin-right: 1%;
	}
	.logo-tablet {
	  display:none;
  }
  .logo-desktop {
    display: block;
	  margin-top: 40px;
  }
  .logo .left {
    margin-right: 19px;
  }
}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}
