// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.

// Larger than mobile
@media (#{$bp-larger-than-mobile}) {
  .headline > img {
 	  margin: 5px 5px 0 0;
  }
	.container {
	  padding-top: 64px;
  }
	/* nav */
  nav {
	 height: 64px;
  }
	  &:before {
      padding-top: 20px;
    }
	.nav-name {
		display:none;
	}
  .logo-mobile {
    margin-top: 30px;
  }
  .logo-tablet,
  .logo-desktop {
	display: none;
  }
  .logo .left {
    margin-right: 6.5px;
  }
}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	body {
		font-size: 1.6em;
		line-height: 1.8em;
	}
	h1 {
		line-height: 1.5em;
	}
	.headline > img {
    margin-top: 15px;
	}
	.container {
	padding-top: 50px;
  }
	nav {
	 height: 50px;
  }
		&:before {
			padding-top: 15px;
		}
	.nav-name {
		display: inline-block;
		font-family: montserrat;
    color: $dkgrn;
    margin-left: 5px;
	}
  .logo-mobile {
	display:none;
  }
  .logo-tablet {
    display: block;
	margin-top: 40px;
  }
  .logo .left {
    margin-right: 12px;
  }
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
  .nav {
	  margin-right: 1%;
	}
	.logo-tablet {
	  display:none;
  }
  .logo-desktop {
    display: block;
	  margin-top: 40px;
  }
  .logo .left {
    margin-right: 19px;
  }
}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}
